<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<table class="rui-datatable table">
    <thead>
        <tr role="row">
            <th data-sortField="id" th:text="#{symbol.id}">Id</th>
            <th data-sortField="code" th:text="#{credit.product.code}">Code</th>
            <th data-sortField="title" th:text="#{credit.product.title}">Title</th>
            <th th:text="#{credit.product.additives}">Has an active additive</th>
        </tr>
    </thead>
    <tbody th:attr="data-page=${page.page},data-total=${page.total}">
        <tr th:each="entity,iterStat : ${page.rows}"
            th:href="@{${rootPath}+'/'+${entity.id}}"
            th:object="${entity}" role="row" class="clickable"
        >
            <td>
                <span class="d-flex justify-content-start" th:text="*{id}"></span>
            </td>
            <td th:text="*{code}"></td>
            <td th:text="*{title}"></td>
            <td>
                <div class="d-flex">
                    <th:block th:if="*{additives.size() > 0}">
                        <span class="badge badge-circle">
                            <th:block th:insert="~{/icons/icons :: successIcon}"></th:block>
                        </span>
                    </th:block>
                    <th:block th:unless="*{additives.size() > 0}">
                        <span
                            class="badge badge-circle"
                            data-placement="top" data-toggle="tooltip"
                        >
                            <th:block th:insert="~{/icons/icons :: declineIcon}"></th:block>
                        </span>
                    </th:block>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</html>
