<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="entity(entities)">
    <ul class="counter-list">
        <li
            class="counter-list__item"
            th:each="entity,iterStat : ${entities}"
        >
            <button class="clickable counter-list__btn" th:href="@{${url} + '/' + ${entity.id}}" th:object="${entity}">
                <p th:text="*{displayedName}" style="text-align: left;"></p>
                <p th:text="*{#ldates.format(createdAt, 'MM/dd/yyyy')}"></p>
            </button>
        </li>
    </ul>
</th:block>
</html>
