<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div class="card-body card-info-wrapper d-flex" th:object="${entity}">
    <div class="card-info d-flex">
        <ul class="card-info__body d-flex">
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.title}"
                    th:title="#{credit.product.title}"
                >Title</span>
                <span class="card-info__value" th:text="*{title}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.engineName}"
                    th:title="#{credit.product.engineName}"
                >Engine name</span>
                <span class="card-info__value" th:text="*{engineName}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.dayCountMethod}"
                    th:title="#{credit.dayCountMethod}"
                >Engine name</span>
                <span class="card-info__value" th:text="*{dayCountMethod}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.maxAmount}"
                    th:title="#{credit.product.maxAmount}"
                >Max amount</span>
                <span class="card-info__value" th:text="*{maxAmount}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.maxTerm}"
                    th:title="#{credit.product.maxTerm}"
                >Max term</span>
                <span class="card-info__value" th:text="*{maxTerm}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{common.createdAt}"
                    th:title="#{common.createdAt}"
                >Created at</span>
                <span class="card-info__value" th:text="*{#ldates.format(createdAt)}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.offerEngineTypes}"
                    th:title="#{credit.product.offerEngineTypes}"
                >Offer Engine types</span>
                <span class="card-info__value" th:each="offerEngineType, iterStat : *{offerEngineTypes}"
                    th:text="${#enums.name(offerEngineType) + (iterStat.count != iterStat.size ? ', ' : '')}"></span>
            </li>
        </ul>
    </div>
    <div class="card-info d-flex">
        <ul class="card-info__body d-flex">
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.creditType}"
                    th:title="#{credit.product.creditType}"
                >Credit type</span>
                <span class="card-info__value" th:text="*{#enums.name(creditType)}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.code}"
                    th:title="#{credit.product.code}"
                >Code</span>
                <span class="card-info__value" th:text="*{code}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.minAmount}"
                    th:title="#{credit.product.minAmount}"
                >Min amount</span>
                <span class="card-info__value" th:text="*{minAmount}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.minTerm}"
                    th:title="#{credit.product.minTerm}"
                >Min term</span>
                <span class="card-info__value" th:text="*{minTerm}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{common.createdBy}"
                    th:title="#{common.createdBy}"
                >Created by</span>
                <span class="card-info__value" th:text="*{createdBy.name}"></span>
            </li>
            <li class="card-info__item d-flex">
                <span
                    class="card-info__property"
                    th:text="#{credit.product.lateFeeRate}"
                    th:title="#{credit.product.lateFeeRate}"
                >Code</span>
                <span class="card-info__value" th:text="*{lateFeeRate}"></span>
            </li>
        </ul>
    </div>
</div>
</html>
