<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="article__header d-flex justify-content-between align-items-center collapse-tabs">
    <div class="header-left">
        <p class="header__title">
            <span th:unless="${#lists.isEmpty(roles)}" th:text="${#enums.join(roles, ' & ')}"></span>
            <span th:unless="${entity.client}" th:text="${entity.displayedName}"></span>
            <span th:if="${entity.client}" th:href="@{'/client/' + ${entity.client.id}}" target="_blank"
                  th:text="${entity.displayedName}"></span>
            <th:block th:insert="~{/templates/copyButton :: copyButton('Copy ID', ${entity.id})}" />
        </p>
        <th:block th:replace="~{/templates/label :: labels(${labels})}"></th:block>
    </div>
    <div class="header-right">
        <div class="entity__actions">
            <th:block th:insert="~{/common/action/bar :: buttons(${actions})}"/>
        </div>
    </div>
    <script th:data-src="@{/assets/static/js/actions-handler.js}"></script>
</div>
