<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<form method="post"
    th:data-page-title="${isCreate} ? #{client.new} : #{client.edit}"
    autocomplete="off" th:action="@{${actionPath}}"
    th:object="${form}">
    <th:block th:insert="~{/form/loader :: formLoader}" />

    <div class="form-body">
        <!-- tag::client-form-fields[] -->
        <h3 th:text="#{client.clientInfo}">Personal
            Information</h3>
        <th:block
            th:insert="~{/form/components :: text(#{client.individualInfo.fullName},
                'individualInfo.fullName', 'v-required v-name')}"
            th:with="maxlength = 120" />
        <th:block
            th:insert="~{/form/components :: text(#{client.individualInfo.nationalId},
                'individualInfo.nationalId', 'v-required')}" />
        <th:block
            th:insert="~{/form/components :: date (#{client.individualInfo.birthDate},
                'individualInfo.dateOfBirth', '')}"
            th:with="maxDate = ${#dates.createNow()}" />
        <th:block
            th:insert="~{/form/components :: select(#{client.address.stateOfResidence},
                'individualInfo.residenceCountry', ${countries})}" />

        <h3 th:text="#{client.contactInfo}">Contact
            Information</h3>
        <th:block
            th:insert="~{/form/components :: text(#{client.contactInfo.email},
                'contactInfo.email', 'v-required v-email')}" />
        <th:block
            th:insert="~{/form/components :: text(#{client.contactInfo.phone},
                'contactInfo.phone', 'v-required v-phone')}" />
        <!-- end::client-form-fields[] -->
    </div>

    <div class="form__actions">
        <button type="button" class="btn btn-secondary"
            data-dismiss="modal" th:text="#{button.close}">
            Close</button>
        <button type="submit" class="btn btn-success"
            th:text="#{button.save}">Save</button>
    </div>
</form>
</html>
