<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<table class="table">
    <thead>
    <tr role="row">
        <th style="width: 50px" th:text="#{credit.data.date}"></th>
        <th style="width: 150px" th:text="#{credit.data.type}"></th>
        <th style="width: 100px" th:text="#{credit.data.amount}"></th>
        <th style="width: 100px" th:text="#{credit.data.principal}"></th>
        <th style="width: 100px" th:text="#{credit.data.interest}"></th>
        <th style="width: 120px" th:text="#{credit.data.remainingDebt}"></th>
    </tr>
    </thead>
    <tbody>
    <th:block
        th:each="record, iterStat : ${creditDataViews}"
        role="row"
    >
        <tr
            role="row"
            th:unless="${record.value.empty}" th:each="event, iterStat : ${record.value}"
            th:object="${event.data}"
            th:style="'border-bottom: 1px solid #ededf0;'"
        >
            <td th:if="${iterStat.index == 0}" width="20" th:text="${#ldates.format(record.key)}"
                th:rowspan="${record.value.size()}"></td>
            <th:block th:switch="${event.type.name()}">
                <th:block th:case="'INITIAL'">
                    <td>Contract Start</td>
                    <td th:text="*{#monetary.format(amount)}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </th:block>
                <th:block th:case="'SCHEDULE_PAYMENT'">
                    <td>
                        <span
                            th:styleappend="${record.key &lt; paidUntilDate
                              ? 'color: green'
                              : (record.key &lt; currentDate ? 'color: red' : 'color: grey')}"
                            th:text="${#enums.name(event.type)}"
                        >
                        </span>
                    </td>
                    <td th:text="*{#monetary.format(amount)}"></td>
                    <td th:text="*{#monetary.format(principal)}"></td>
                    <td th:text="*{#monetary.format(interest)}"></td>
                    <td th:text="*{#monetary.format(remainingDebt)}"></td>
                </th:block>
                <th:block th:case="'PAYMENT'">
                    <td>
                        <div>Payment</div>
                        <div th:if="*{createdBy}" class="text-muted small">
                            Logged by <a th:text="*{createdBy.name}"
                                         th:href="@{'/user/'+ *{createdBy.entity.id}}"></a>
                        </div>
                    </td>
                    <td th:text="*{#monetary.format(amount)}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </th:block>

                <th:block th:case="'FEE'">
                    <td>
                        <div th:text="${#enums.name(event.type)}"></div>
                        <div th:if="*{updatedBy}" class="text-muted small">
                            Updated by <a th:text="*{updatedBy.name}"
                                          th:href="@{'/user/'+ *{updatedBy.entity.id}}"></a>
                        </div>
                    </td>
                    <td th:text="*{#monetary.format(amount)}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </th:block>
            </th:block>
        </tr>
    </th:block>
    </tbody>
</table>
</html>
