<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<form
    th:data-page-title="${isCreate} ? #{application.new} : #{application.edit}"
    autocomplete="off" th:action="@{${actionPath}}"
    th:object="${form}">
    <th:block th:insert="~{/form/loader :: formLoader}" />

    <div class="form-body">
        <!-- tag::application-form-fields[] -->
        <h4 th:text="#{application.borrowerInfo}">Borrower Information</h4>
        <th:block
            th:insert="~{/form/components :: select(#{participant.employment},
                'borrowerParticipant.employment', ${employmentTypes})}" />
        <th:block
            th:insert="~{/form/components :: select(#{participant.howOftenIncomeIsPaid},
                'borrowerParticipant.howOftenIncomeIsPaid', ${periodicities})}" />

        <h4 th:text="#{participant.financialInfo}">Financial Information</h4>
        <th:block
            th:insert="~{/form/components :: amount(#{participant.totalAnnualIncome},
                'borrowerParticipant.totalAnnualIncome', 'v-required')}" />
        <th:block
            th:insert="~{/form/components :: amount(#{participant.monthlyOutgoings},
                'borrowerParticipant.monthlyOutgoings', '')}" />
        <!-- end::application-form-fields[] -->
        <th:block
            th:insert="~{/form/components :: text(#{participant.githubUsername},
                'borrowerParticipant.githubUsername', '')}" />
    </div>

    <div class="form__actions">
        <div class="ml-auto">
            <button type="button" class="btn btn-secondary"
                data-dismiss="modal" th:text="#{button.close}">
                Close</button>
            <button type="submit" class="btn btn-success"
                th:text="#{button.save}">Save</button>
        </div>
    </div>
</form>
</html>
