<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<table class="rui-datatable table">
    <thead>
        <tr role="row">
            <th data-sortField="id" th:text="#{common.id}"></th>
            <th th:text="#{application.status}">Status</th>
            <th th:text="#{application.borrowerParticipant}">Borrower</th>
            <th th:text="#{common.createdAt}">Created at</th>
            <th th:text="#{common.updatedAt}">Modified at</th>
        </tr>
    </thead>
    <tbody th:attr="data-page=${page.page},data-total=${page.total}">
        <tr th:each="entity, iterStat : ${page.rows}"
            th:href="@{${rootPath}+'/'+${entity.id}}"
            th:object="${entity}" role="row" class="clickable">
            <td><span class="d-flex justify-content-start"
                th:text="*{#strings.substring(id, 0, 6)}"></span></td>
            <td th:text="*{status}"></td>
            <td th:text="*{borrowerParticipant?.displayedName}"></td>
            <td th:text="*{#ldates.format(createdAt)}"></td>
            <td th:text="*{#ldates.format(updatedAt)}"></td>
        </tr>
    </tbody>
</table>
</html>
