<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<div class="card-details" th:object="${entity}">

<section>
    <h4 th:text="#{application.details}">Application Details</h4>
    <dl>
        <dt th:text="#{application.status}">Status</dt>
        <dd th:text="*{#enums.name(status)}"></dd>
        <th:block th:if="*{borrowerParticipant}">
            <dt th:text="#{application.borrowerParticipant}">Borrower</dt>
            <dd th:text="*{borrowerParticipant?.displayedName}"></dd>
        </th:block>
    </dl>
</section>
<section>
    <h4 th:text="#{application.auditInfo}">Audit Information</h4>
    <dl>
        <dt th:text="#{common.createdAt}">Created At</dt>
        <dd th:text="*{#ldates.format(createdAt)}"></dd>
        <dt th:text="#{common.updatedAt}">Modified At</dt>
        <dd th:text="*{#ldates.format(updatedAt)}"></dd>
        <th:block th:if="*{createdBy}">
            <dt th:text="#{common.createdBy}">Created By</dt>
            <dd th:text="*{createdBy.name}"></dd>
        </th:block>
        <th:block th:if="*{updatedBy}">
            <dt th:text="#{common.updatedBy}">Modified By</dt>
            <dd th:text="*{updatedBy.name}"></dd>
        </th:block>
    </dl>
</section>
</div>

</html>
