<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="article(allOffers)">
    <div class="offers conditions d-flex">
        <table class="table">
            <thead>
            <tr role="row">
                <th class="w-25" th:text="#{offer.general.product}">Product</th>
                <th class="w-15" th:text="#{offer.general.amount}">Amount</th>
                <th class="w-10" th:text="#{offer.general.term}">Term, months</th>
                <th class="w-10" th:text="#{offer.general.rate}">Rate, %</th>
                <th class="w-30" th:text="#{offer.general.total}">Total/Available</th>
                <th class="w-10"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="general, iterStat : ${allOffers}">
                <tr
                    role="row"
                    data-toggle="collapse"
                    class="no-ajax collapsed"
                    aria-expanded="false"
                    th:data-target="'#product_' + ${general.product.id}"
                    th:aria-controls="'product_' + ${general.product.id}"
                    th:classAppend="${general.selectedOfferKey != null ? 'selected-offer' : ''}"
                >
                    <td th:text="${general.product.title}"></td>
                    <td th:text="${#monetary.format(general.minAmount) + ' - ' + #monetary.format(general.maxAmount)}"></td>
                    <td th:text="${general.minTerm + ' - ' + general.maxTerm}"></td>
                    <td th:if="${general.minRate == general.maxRate}" th:text="${general.maxRate}"></td>
                    <td th:unless="${general.minRate == general.maxRate}" th:text="${general.minRate + ' - ' + general.maxRate}"></td>
                    <td th:text="${general.total + '/' + general.available}"></td>
                    <td class="text-right">
                        <div class="collapse-btn">
                            <th:block th:insert="~{/icons/icons :: toggleArrow}"></th:block>
                        </div>
                    </td>
                </tr>
                <th:block
                    th:each="entryOffer : ${general.offers}"
                    th:with="productOffer=${entryOffer.productOffer}, securedOffer=${entryOffer.securedOffer}, offerView=${entryOffer.view},
                    actions=${@entityActionMapping.getAvailableActions(productOffer)}, idProduct=${general.product.id}"
                >
                    <tr th:id="product_ + ${idProduct}" class="collapse"
                        th:classAppend="${securedOffer == null ? 'gray-text' : (securedOffer.offerKey == general.selectedOfferKey ? 'selected-offer' : '') }">
                        <td>
                            <span th:text="${offerView.name}"></span>
                        </td>
                        <td>
                            <span th:text="${#monetary.format(offerView.minAmount) + ' - ' + #monetary.format(offerView.maxAmount)}"></span>
                        </td>
                        <td>
                            <span th:text="${offerView.minTerm + ' - ' + offerView.maxTerm}"></span>
                        </td>
                        <td th:with="isRatesEqual = ${offerView.minInterestRateExpression == offerView.maxInterestRateExpression}">
                            <span th:if="${isRatesEqual}" th:text="${offerView.maxInterestRateExpression}"></span>
                            <span th:unless="${isRatesEqual}" th:text="${offerView.minInterestRateExpression + ' - ' + offerView.maxInterestRateExpression}"></span>
                        </td>
                        <td>
                            <span th:unless="${securedOffer}" class="condition__status" th:text="${offerView.details}"></span>
                            <span th:if="${securedOffer}" style="-ms-flex: 1;flex: 1;height: 100%; min-width: max-content;"
                                  th:text="${offerView.details}"></span>
                        </td>
                        <td class="text-right">
                            <button
                                th:if="${securedOffer}"
                                type="button"
                                class="btn no-ajax btn-success docAction-btn"
                                th:each="action : ${actions.highlighted}"
                                th:data-action="@{|${action.path}?securedOffer=${securedOffer.offerKey}|}"
                                th:classappend="|${action.additionalClass} ${action.postOnly ? 'post-only-action' : 'modal-btn'}|"
                                th:text="#{${action.name}}"
                            >
                                Choose
                            </button>
                        </td>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
        <script th:data-src="@{/assets/static/js/actions-handler.js}"></script>
    </div>
</th:block>
</html>