<!DOCTYPE html>
<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div class="card-info-wrapper d-flex" th:object="${entity}"
       th:with="product = *{condition.securedOffer.originalOffer.productAdditive.product}">
    <!-- Basic Credit Information -->
    <div class="card-info d-flex pl-20 pb-15">
      <ul class="card-info__body d-flex">
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.application}"></span>
          <span class="card-info__value">
            <a th:with="applicationPath = *{@pathRegistry.getPath(application)}"
               th:href="@{${applicationPath}}">link</a>
          </span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.borrower}"></span>
          <span class="card-info__value">
            <a th:with="borrowerPath = *{@pathRegistry.getPath(application.borrowerParticipant.client)}"
               th:href="@{${borrowerPath}}"
               th:text="*{application.borrowerParticipant.client.displayedName}"></a>
          </span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.product.creditType}"></span>
          <span class="card-info__value" th:text="${#enums.name(product.creditType)}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.product.engineName}"></span>
          <span class="card-info__value" th:text="${#enums.name('schedule.engine.name', product.engineName)}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.loanAmount}"></span>
          <span class="card-info__value" th:text="*{#monetary.format(condition.principal)}"></span>
        </li>
      </ul>
    </div>

    <!-- Financial Information -->
    <div class="card-info d-flex pl-20 pb-15">
      <ul class="card-info__body d-flex">
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.startDate}"></span>
          <span class="card-info__value" th:text="*{#ldates.format(startDate)}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.loanPeriodMonths}"></span>
          <span class="card-info__value" th:text="*{condition.period.multipliedBy(condition.term).toTotalMonths()}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.paymentPeriod}"></span>
          <span class="card-info__value" th:text="*{#enums.name('period', condition.period)}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.dayCountMethod}"></span>
          <span class="card-info__value" th:text="${#enums.name('day.count.method', product.dayCountMethod)}"></span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.regularPayment}"></span>
          <span class="card-info__value" th:text="*{#monetary.format(condition.regularPayment)}"></span>
        </li>
      </ul>
    </div>

    <!-- Fee Information -->
    <div class="card-info d-flex pl-20 pb-15">
      <ul class="card-info__body d-flex">
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.interestRate}"></span>
          <span class="card-info__value"
                th:text="*{condition.interestRate + '%'}">
          </span>
        </li>
        <li class="card-info__item d-flex">
          <span class="card-info__property" th:text="#{credit.product.lateFeeRate}"></span>
          <span class="card-info__value" th:text="${product.lateFeeRate + '%'}"></span>
        </li>
      </ul>
    </div>
  </div>
</th:block>