<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<form
    th:action="@{${actionPath}}"
    method="post"
    class="modal-form"
    th:data-title="#{__${title}__}"
    id="paper-check"
    th:object="${form}"
>
  <div class="form-body">
    <th:block
        th:insert="~{/form/components :: date (#{credit.payment.processedDate}, 'processedDate', 'v-required')}"
        th:with="minDate = ${minDate}"/>

    <th:block
        th:insert="~{/form/components :: textarea(#{credit.payment.description}, 'description', '')}"/>
  </div>
  <div class="modal-footer">
    <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        th:text="#{button.close}"
    >
      Close
    </button>
    <button
        type="submit"
        class="btn btn-success"
        th:text="#{button.add}"
    >
      Add
    </button>
  </div>
</form>
</html>